*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --slack-color: #121016;
  --slack-text: #AFB0B1;
  --slack-border: #3B3E40;
  /* background-color: #121016; */

  overflow: hidden;
 

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  background-color: rgb(116, 116, 255);
}